# OS
.DS_Store

# environment files
.npmignore
.nvmrc
.prettierrc

# VSCode files
.vscode

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# ############
# Other
# ###
package-lock.json
project-notes.md

# End of file